.Buttonsss {
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./wine5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.Buttonss {
  display: flex;
  font-size: 28px;
  margin: 40px;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid white;
  opacity: 0.7;
  color: white;
}
